/* variables */
:root {
    --primary: #272932;
    --seconary: #fdf9ef;
    --thrirdy:  #fff47d27;;
    --fourth: #1985A1;
}
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;}
/* base styles */
body {
    font-family: Fonting;
    margin: 0;
    padding: 0;
}
header {
    background-color: var(--primary);
    color: var(--seconary);
}


/* fonts */
@font-face {
    font-family: 'Fonting';
    src: url('fonts/fontingdir/fonting.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* mobile styles */
.topnav a:not(:first-child) {
    display: none;
}
.topnav a.icon {
    float: right;
    display: block;
}
.topnav {
    overflow: hidden;
    background-color: var(--primary);
    background: linear-gradient(to right, var(--primary), var(--thrirdy), var(--primary));
    position: fixed;
    top: 0;
    width: 100%;
}
.topnav a {
    float: left;
    display: block;
    color: var(--seconary);
    background: linear-gradient(to right, var(--primary), rgba(0, 0, 0, 0.5), var(--primary));
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} 
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav .icon {
    display: none;
}

.topnav .responsive {
    position: relative;
    background-color: var(--primary);
    background: linear-gradient(to right, var(--primary), var(--thrirdy), var(--primary));   
}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.megacontainer {
    position: relative;
    min-height: 100%;
    background-color: var(--thrirdy);
}
.image-container {
    width: 100%;
    height: 100%;
    z-index: -1; /* Τοποθέτηση της εικόνας πίσω από το μενού */
    overflow: hidden; /* Αποφυγή κύλισης */
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Διατηρεί τη σωστή αναλογία και καλύπτει όλη την οθόνη */
}
.img-txt {
    position: absolute;
    left: 65%;
    transform: translate(-40%, 220%);
    color: var(--primary);
    font-size: clamp(2em, 8vw, 4em); /* Το μέγεθος του κειμένου είναι πάντα μεταξύ, αλλά αυξάνεται αναλογικά με το πλάτος του παραθύρου */
    font-weight: bold;
    text-shadow: 2px 2px 4px white;
}

.video-container {
    text-align: center;
    margin: 20px 0;
    max-width: 100%; /* Δεν επιτρέπει στο container να ξεπεράσει το 100% του πλάτους */
    box-sizing: border-box;
    padding: 10px; /* Προσθέτει padding ώστε να υπάρχει χώρος γύρω από τα videos */
    background: linear-gradient(to right bottom, var(--seconary), var(--thrirdy), var(--primary));   
    border-radius: 10px;
    

}
.video_text{
    font-size: smaller;
    
}

h2{
    text-align: center;
    margin: 50px 100px;
    border-bottom: 2px solid var(--primary);
}
h3{
    padding: 20px;
    text-align: center;
}
h4{
    font-size: smaller;
    text-align: center;
}


.links {
    display: flex;
    flex-direction: column; /* Τα links το ένα κάτω από το άλλο */
    align-items: center; /* Κεντράρισμα των links */
    justify-content: center;
    margin: 20px 0;
    padding: 0 0 20px 0;
    gap: 10px; /* Χώρος ανάμεσα στα links */
    background: linear-gradient(to right bottom, var(--seconary), var(--thrirdy), var(--primary));   
    border-radius: 10px;
    
}

.links li {
    list-style-type: none; /* Αφαίρεση των κουκκίδων από τη λίστα */
}

.links a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--primary);
    background-color: var(--fourth);
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid var(--primary); /* Περίγραμμα γύρω από τα links */
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.links a:hover {
    background-color: var(--primary);
    color: var(--seconary);
    transform: scale(1.05); /* Ελαφριά μεγέθυνση κατά το hover */
}

.links a:active {
    transform: scale(1); /* Ακύρωση του εφέ κατά το κλικ */
}

.articles p{
    text-align: justify;
    padding: 10px 45px ;

}

.contact-container{
    background: linear-gradient(to right bottom, var(--seconary), var(--thrirdy), var(--primary));   ;
}
.contact-container *{
    text-align: center;
    padding: 2px;

}


/* Στυλ για το container των στοιχείων επικοινωνίας */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

/* Στυλ για τη λίστα επικοινωνίας */
.contact {
    list-style: none;
    padding: 0;
    width: 100%;
}

.contact li {
    padding: 10px 0;
    border-bottom: 1px solid var(--seconary);
}

/* Στυλ για τις υπο-λίστες (ώρες λειτουργίας) */
.contact li ul {
    margin-top: 10px;
    padding-left: 20px;
}

.contact li ul li {
    padding: 5px 0;
    border-bottom: none;
    margin-left: 30%;
    text-align: left;
}

/* Στυλ για το κουμπί του χάρτη */
.contact .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: var(--primary);
    background-color: var(--thrirdy);
    border: 2px solid var(--primary);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    margin-top: 20px;
}

.contact .button:hover {
    background-color: var(--primary);
    color: var(--seconary);
    transform: scale(1.05);
}

.contact .button i {
    margin-left: 10px;
}

.contact .button:active {
    transform: scale(1);
}




.button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #0056b3;
}
.button img {
    margin-right: 10px;
    width: 20px; /* Adjust the size of the icon as needed */
    height: 20px; /* Adjust the size of the icon as needed */
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.25rem 0;
    margin-top: 1.25rem;
}

footer p {
    margin: 0;
}

.contact-conteiner{
    display:flex

}

.contact{
    align-items: center;
}
/* carousel */

    .carousel {
        position: relative;
        width: 300px;
        height: 200px;
    }

    #carousel-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    #prev-button {
        left: 0;
    }

    #next-button {
        right: 0;
    }









/* small tablet styles */
@media screen and (min-width: 620px){
    
}
/* large tablets and laptop styles */
@media screen and (min-width: 960px){
    
}
/* desktop styles */
@media screen and (min-width: 1200px){


   
    .image-text {
        font-size: 1.25rem;
        padding: 1rem;
        width: calc(100% - 2rem);
    }


    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    ul li {
        font-size: 1rem;
        padding: 0.625rem;
    }
    
} 