/* Βασικές ρυθμίσεις */
:root {
    font-size: 16px; /* 1rem = 16px */
}

@font-face {
    font-family: 'Fonting';
    src: url('fonts/fontingdir/fonting.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #0056b3;
}
.button img {
    margin-right: 10px;
    width: 20px; /* Adjust the size of the icon as needed */
    height: 20px; /* Adjust the size of the icon as needed */
}

.contact-conteiner{
    display:flex

}

.contact{
    align-items: center;
}

/* Βασικές ρυθμίσεις */
body {
    font-family: Fonting;
    margin: 0;
    padding: 0;
    background-color: #eae4e4;
}


header {
    background-color: #333;
    color: white;
    padding: 0.625rem rem;
}


.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}



iframe{
    display: flex;


}

.content {
    padding-top: 60px; /* Add padding to avoid content being hidden behind the fixed nav bar */
    padding: 16px;
}

main {
    padding: 1.25rem;
    background-color: white;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.video-container{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);

}
.image-text {
    position: relative;
    display: flex;
    border: 2px solid #240600;
    border-radius: 0.625rem;
    transform: translate(0,-90px);
    color: rgb(24, 16, 16);
    text-align: center;
}

h1, h2 {
    color: #333;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}

.carousel {
    position: relative;
    width: 300px;
    height: 200px;
}

#carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prev-button {
    left: 0;
}

#next-button {
    right: 0;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.25rem 0;
    margin-top: 1.25rem;
}

footer p {
    margin: 0;
}

/* Media Queries για Responsive Design */

/* Εφαρμογές για κινητά */
@media (max-width: 48rem) { /* 768px */
    .navbar ul {
        flex-direction: column;
        align-items: left;
    }

    .navbar li {
        margin: 0.625rem 0;
    }

    .image-text {
        font-size: 0.9rem;
        padding: 0.625rem;
        width: calc(100% - 1.25rem);

    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }

    ul li {
        font-size: 0.9rem;
        padding: 0.5rem;
        width: 50%;
    }
}

/* Εφαρμογές για μεγάλες οθόνες (desktop) */
@media (min-width: 48rem) { /* 768px */
    .image-text {
        font-size: 1.25rem;
        padding: 1rem;
        width: calc(100% - 2rem);
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    ul li {
        font-size: 1rem;
        padding: 0.625rem;
    }
}
